fastapi
uvicorn[standard]
python-multipart
pydantic<2
chromadb<0.4.0
posthog>=2.4.0,<3.0.0
pypdf
python-docx
requests
httpx
sqlalchemy
psycopg2-binary
PyJWT
bcrypt

pytest-asyncio
asgi_lifespan
scikit-learn


